<div class="row">
    <h1>{{item.title}}</h1>
    <br>
    <br>
    <img src="{{item.imagePath}}" alt="" class="img-responsive">
    <br>
    <br>
    <strong>Description:</strong>
    <br>
    <br>
    <p>{{item.description}}</p>

    <br>
    <p>Price: $ {{item.price}}</p>
</div>

