
<footer class="footer">
    <nav class="navbar navbar-default">
        <div class="container-footer">
            <p>Remarkable Voyages </p>
            <ul>
                <li class="list-footer"><a href="#">About Us</a></li>
                <li class="list-footer"><a href="#">Contact Us</a></li>
                <li class="list-footer"><a href="#">Legals</a></li>
                <li class="list-footer"><a href="#">Disclaimer</a></li>
            </ul>

          <p>Founded in 2017</p>
          </div>
    </nav>



</footer>