
<footer class="footer">
    <nav class="navbar navbar-default">
        <div class="container-footer">
            <p class="white">Remarkable Voyages </p>
            <ul>
                <li class="list-footer"><a class="white" href="#">About Us</a></li>
                <li class="list-footer"><a class="white" href="#">Contact Us</a></li>
                <li class="list-footer"><a class="white" href="#">Legals</a></li>
                <li class="list-footer"><a class="white" href="#">Disclaimer</a></li>
            </ul>

          <p class="white">Founded in 2017</p>
          </div>
    </nav>
</footer>