.thumbnail img {
    max-height: 220px;
}

.thumbnail .description {
    color: #120c25;
}

.thumbnail .price {
    font-weight: bold;
    font-size: 16px;
}

.img-small {
    max-width: 180px;
    padding: 20px;
}

.checkout {
    margin-left: 20px !important;
    font-size: 18px;
    color: black;
}

.container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.container-footer {
    padding: 2% 5%;
    background-color: darkslategray;

}

.list-footer {
    list-style-type: none;
}

img.img-responsive {
    width: 350px;
    height: 233px;
    border-radius: 5px;
}

.img-large {
    max-width: 960px;
    max-height: 640px;
}

.container-w85 {
    width: 85%;
    margin-left: 7%;
}

.alert-success{
    color: white;
    background-color: white;
    border-color: white;
}

div.panel {
    display: none;
}

@media only screen and (max-width: 1224px) {

.img-large {
    max-width: 640px;
    max-height: 427px;
    }
}

button.accordion {
    color: darkslategray;
    padding: 18px;
    margin-bottom: 50px;
    width: 30%;
    text-align: left;
    border: none;
    outline: none;
    -webkit-transition: 0.4s;
    transition: 0.4s;
    background-color: white;
}

button.accordion.container-w85.active, button.accordion.container-w85:hover {
    background-color: lightcyan;
}

button.accordion:after {
    content: '\002B';
    color: #777;
    font-weight: bold;
    float: right;
    margin-left: 5px;
}

button.accordion.active:after {
    content: "\2212";
}

@media only screen and (max-width: 768px) {
.img-large {
    max-width: 427px;
    max-height: 320px;
}
}

.white {
    color: white !important;
}

.container-fluid {
    background-color: darkslategray;
}
